body, html {
  margin: 0;
  overflow: hidden;
}

div#pat {
  background-image: url(/img/pat1.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  max-width: 100%;
  overflow: hidden;
}

div#pat:active {
  background-image: url("/img/pat2.png");
}
